@model ChessSharp.Models.ProfileViewModels.ProfilePageModel

@{
    ViewData["Title"] = "Profile: " + Model.User.Username;
}

<h1>@Model.User.Username</h1>
<h1>@Model.User.Elo</h1>

<div class="col-lg-6 my-containers" id="container-profile">
    @foreach (var appUser in Model.Users)
    {
        <div id="user">
            <span id="username">@appUser.Username</span>
            <span id="elo">@appUser.Elo</span>
            <a class="bg-primary active" asp-action="SendRequest" asp-route-SenderId="@Model.User.UserId" asp-route-ReceiverId="@appUser.UserId" asp-route-ColorRequest="white">Send request as white</a>
            <a class="bg-primary active" asp-action="SendRequest" asp-route-SenderId="@Model.User.UserId" asp-route-ReceiverId="@appUser.UserId" asp-route-ColorRequest="black">Send request as black</a>

        </div>
    }
</div>

<div class="col-lg-6 my-containers"  id="container-pendingrequests">
    @foreach (var request in Model.User.PendingRequests)
    {
        <div id="request">

            <span id="time-sent">@request.TimeSent</span>
            <span id="request-color">@request.ColorRequest.ToString()</span>
            <span id="senderUsername">@request.Sender.Username</span>
            <a class="bg-primary active" asp-action="AcceptRequest" asp-route-RequestId="@request.RequestId">Accept</a>
            <a class="bg-primary danger" asp-action="DeclineRequest" asp-route-RequestId="@request.RequestId">Decline</a>
        </div>
    }
</div>
<div class="col-lg-4 my-containers" id="container-sentrequests">
    @foreach (var request in Model.User.SentRequests)
    {
        <div id="request">

            <span id="time-sent">@request.TimeSent</span>
            <span id="request-color">@request.ColorRequest.ToString()</span>
            <span id="senderUsername">@request.Reciever.Username</span>
            <a class="bg-primary danger" asp-action="DeclineRequest" asp-route-RequestId="@request.RequestId">Cancel request</a>
        </div>
    }
</div>


<div class="col-lg-4 my-containers" id="container-games">
    @foreach (var game in Model.Games.Where(g => g.CurrentGameState == GameState.STILL_PLAYING))
    {
        <div id="game">
            <a asp-controller="Game" asp-action="Index" asp-route-gameId="@game.GameId.ToString()">
                <span id="whitePlayer">@game.WhitePlayer.Username</span>
                <span id="blackPlayer">@game.BlackPlayer.Username</span>
            </a>
        </div>
    }
</div>

<div class="col-lg-4 my-containers" id="container-fingames">
    @foreach (var game in Model.Games.Where(g => g.CurrentGameState != GameState.STILL_PLAYING))
    {
        <div id="game">
            <a asp-controller="Game" asp-action="Index" asp-route-gameId="@game.GameId.ToString()">
                <span id="whitePlayer">@game.WhitePlayer.Username</span>
                <span id="blackPlayer">@game.BlackPlayer.Username</span>
            </a>
        </div>
    }
</div>





