@model ChessSharp.Models.ProfileViewModels.ProfilePageModel

<h1>@Model.User.Username</h1>
<h1>@Model.User.Elo</h1>

<div id="container-requests">
    @foreach (var request in Model.User.PendingRequests)
    {
        <div id="request">
            
            <span id="time-sent">@request.TimeSent</span>
            <span id="request-color">@request.ColorRequest.ToString()</span>
            <span id="senderId">@request.Sender.Username</span>
        </div>
    }
</div>

<div id="container-profile">
    @foreach (var appUser in Model.Users)
    {
        <div id="user">
            <span id="username">@appUser.Username</span>
            <span id="elo">@appUser.Elo</span>
            <a class="bg-primary active" asp-action="SendRequest" asp-route-SenderId="@Model.User.UserId" asp-route-ReceiverId="@appUser.UserId">Send request</a>
        </div>
    }    
</div>





