@using Microsoft.AspNetCore.Razor.Parser.Internal
@model Game



<h1>@Model.WhitePlayer.Username vs @Model.BlackPlayer.Username</h1>

<div id="board" style="width: 400px"></div>
<hr />
<br/>

<div id="board-system">
    <form id="gameInfo" asp-controller="Game" asp-action="SubmitMove" method="post" class="form-horizontal">
        <input asp-for="GameId" value="@Model.GameId" id="gameId" />
        <input asp-for="FEN" value="@Model.FEN" id="fen" />
        <input asp-for="PGN" value="@Model.PGN" id="pgn" />
        <input asp-for="DrawOffered" id="drawOffered"/> <br />
        <button class="bg-primary active" id="submit-button" type="submit">Submit</button>
        <button class="bg-primary active" id="cancel-button" style="background-color: darkslateblue">Cancel</button>
        <button class="bg-primary active" id="resign" asp-action="Resign" style="background-color: red">Resign</button>
        <button class="bg-primary active" id="Offer draw" style="background-color: green">Offer draw</button>
        <button class="bg-primary active" id="Abort" style="background-color: fuchsia">Abort</button>
        @if (@Model.DrawOffered)
        {
            <button class="bg-primary active" id="Accept draw" style="background-color: tomato">Accept draw</button>
        }
    </form>


    



</div>


<div style="font-size: 20px;">Status: @Model.GetWhoseTurn() to move</div>

@section scripts
{
    <script src="~/js/chessboard-0.3.0.min.js"></script>
    <script src="~/js/chessLegal.js"></script>
    <script src="~/js/chess.js"></script>
}

