
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Razor.Parser.Internal
@model Game



<h1>@Model.WhitePlayer.Username</h1>
<h2>vs</h2>
<h1>@Model.BlackPlayer.Username</h1>


<div id="board-system">
    <div id="board" style="width: 400px"></div>
    <p>Status: <span id="status"></span></p>
    <form asp-controller="Game" asp-action="SubmitMove" method="post" class="form-horizontal">
        <input asp-for="GameId" value="@Model.GameId" id="gameId"/>
        <input asp-for="FEN" value="@Model.FEN" id="fen"/>
        <input asp-for="PGN" value="@Model.PGN" id="pgn"/>
        <button type="submit">Submit</button>
    </form>
    
    <button id="cancel-button">Cancel</button>
</div>







@section scripts
{
    <script type="text/C#">
        
    </script>
    <script src="~/js/chessboard-0.3.0.min.js"></script>
    <script src="~/js/chessLegal.js"></script>
    <script src="~/js/chess.js"></script>
}

